<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Invoice App - Invoice of Sales</title>
</head>

<body>
    <div class="sidebar">
        <ul>
            <li class="tab-link active" data-tab="invoice-of-sales">Invoice of Sales</li>
            <li class="tab-link" data-tab="purchase-order">Purchase Order</li>
            <li class="tab-link" data-tab="income-and-expenditure">Income and Expenditure</li>
            <li class="tab-link" data-tab="reports">Reports</li>
        </ul>
    </div>

    <div class="content">
        <div id="invoice-of-sales" class="tab-content">
            <!-- Treść zawartości dla zakładki "Invoice of Sales" -->
            <h2>Invoice of Sales</h2>
            <form>
                <label for="clientName">Client Name:</label>
                <input type="text" id="clientName">

                <label for="invoiceDate">Invoice Date:</label>
                <input type="date" id="invoiceDate" value="2023-07-25">

                <label for="totalAmount">Total amount of the invoice :</label>
                <input type="text" id="totalAmount" disabled>

                <button type="button" id="saveButton">Save</button>
            </form>

            <h2>Items</h2>
            <table>
                <thead>
                    <tr>
                        <th>Items</th>
                        <th>Descriptions</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total Amount</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Tabela z dynamicznie wczytywanymi danymi -->
                </tbody>
            </table>
        </div>
    </div>

    <script href="{% static 'polls/js/script.js' %}"></script>
</body>

</html>
