<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
    <title>Invoice App - Purchase Order</title>
</head>

<body>
    <div class="sidebar">
        <ul>
            <li class="tab-link" data-tab="invoice-of-sales">Invoice of Sales</li>
            <li class="tab-link active" data-tab="purchase-order">Purchase Order</li>
            <li class="tab-link" data-tab="income-and-expenditure">Income and Expenditure</li>
            <li class="tab-link" data-tab="reports">Reports</li>
        </ul>
    </div>

    <div class="content">
        <div id="purchase-order" class="tab-content">
            <!-- Treść zawartości dla zakładki "Purchase Order" -->
            <h2>Purchase Order</h2>
            <p>Tutaj znajduje się zawartość zakładki Purchase Order.</p>
        </div>
    </div>

    <script href="{% static 'polls/js/script.js' %}"></script>
</body>

</html>
