<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
    <title>Invoice App - Purchase Order</title>
</head>

<body>
    <div class="sidebar">
        <ul>
            <li class="tab-link" data-tab="invoice-of-sales"><a href="{% url 'polls:invoice_of_sales' %}">Invoice of sales</a></li>
            <li class="tab-link active" data-tab="purchase-order"><a href="#">Purchase order</a></li>
            <li class="tab-link" data-tab="income-and-expenditure"><a href="{% url 'polls:income_and_expenditure' %}">Income and Expenditure</a></li>
            <li class="tab-link" data-tab="reports"><a href="{% url 'polls:reports' %}">Reports</a></li>
        </ul>
    </div>

    <div class="content">
        <div id="purchase-order" class="tab-content">
            <!-- Treść zawartości dla zakładki "Purchase Order" -->
            <h2>Purchase Order</h2>
            <form>
                <label for="clientName">Suppliers:</label>
                <input type="text" id="clientName">

                <label for="invoiceDate">Date:</label>
                <input type="date" id="invoiceDate" value="2023-07-25">

                </br>

                <label for="totalAmount">Total order amount:</label>
                <input type="text" id="totalAmount" disabled>

                <button type="button" id="saveButton">Save</button>
            </form>

            <h2>Items</h2>
            <table>
                <thead>
                    <tr>
                        <th>Items</th>
                        <th>Descriptions</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total Amount</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Tabela z dynamicznie wczytywanymi danymi -->
                </tbody>
            </table>
        </div>
    </div>

    <script href="{% static 'polls/js/script.js' %}"></script>
</body>

</html>
